body, html {
    background-color: #467b9e;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabela{
    background-color: rgb(181, 209, 241);
    border: 5px double #000;
    border-radius: 3%;
    font-size: 50px;
    padding: 5px 8px;
}
td{
    border: 1px solid;
    border-radius: 5%;
    text-align: center;
    padding: 5px 8px;
    background-color: antiquewhite;
    width: 50px;
}